/* ===========================================
    GOOGLE FONTS
   =========================================== */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700,600,800,400);

/* ===========================================
    BASICS
   =========================================== */

* {
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;

    text-decoration: none;

    font-family: Open Sans;
}

.wrapper {
    margin: 1em 10% 1em 10%; /*b,r,o,l*/
    display:          flex;
            flex-flow: row;
            flex-wrap: wrap;
}

.wrapper2 {
    margin: 1em 10% 1em 10%; /*b,r,o,l*/
    display:flex;
            flex-flow: row;
            flex-wrap: wrap;
}

a:hover { /* CSS Selector Pseudo-class*/
    text-decoration: underline;
}

/* ===========================================
    HEADER
   =========================================== */

body > header {
    display: block;
    background: #A6D5C2;
}

header > section {
    padding: 1em 6em 1em 1em;
    float: left;
}

/* Kop 1 */
header > h1 {
    padding-top: .7em;
}

/* Paragraph */
header > p {
    margin-bottom: 3.1em;
}

/* Links */
header > a {
    display: none;
}

/* ===========================================
    NAVIGATIE
   =========================================== */

nav {
    padding: 0em 6.5% 0em 6.5%; /*b,r,o,l*/
    background-color:  #EB5D56;
    font-size: .875em;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}

nav li {
    flex-grow: 1;
    list-style: none;
}

nav a {
    font-weight: 400;

    text-align: center;
    color: white;

    display: block;
    padding: 1em;
    transition: 1s;
}

nav .active a {
    color: #004899;
}

nav a:hover {
    text-decoration: underline;
}

nav form {
    text-align: center;
    display: block;
    padding: 1em;
    transition: 1s;
}

summary{
    display: none;
}

/* ===========================================
    OPLEIDING
   =========================================== */

main {
    float: left;

    text-align: left;
            flex: 60%;
            order: 2;
}

main > header > h1 {
    background-color: #A6D5C2;
    display: block;
    padding: .5em;
    font-weight: 900;
    font-size: 1em;
    color: #B61C3E;
    
}

main > article {
    padding: .5em;
}

main > article > h1 {
    text-align: left;
    font-size: 1.5em;
    line-height: 1.4em;

    margin-bottom: .4em;
    margin-top: .4em;

    border-top: .045em solid black;
    padding-top: .9em;
}

main > article:nth-of-type(1) > h1 {
    border-top: none;
    margin-top: -.5em;
}

main > article > h2 {
    text-align: left;
    font-size: 1.1em;
    line-height: 1.4em;

    font-weight: 600;
}

main > article > p {
    text-align: left;
    font-size: .875em;
    line-height: 1.4em;

    margin-bottom: .9em;
}

    main > article > p > a {
        font-weight: 600;
        font-style: italic;

        color: #DECDBF;
    }

main > article > a {
    font-weight: 600;
    font-style: italic;

    color: #DECDBF;
}

main > article > em {
    display: block;
    text-align: left;
    font-size: .875em;
    line-height: 1.4em;

    margin-left: 2em;
    margin-right: 2.5em;
    margin-bottom: .9em;
}

    main > article > em > a {
        color: #DECDBF;
    }

main > article > ol {
    margin-left: 1.45em;
    font-style: italic;
    font-size: .875em;
    line-height: 1.4em;
    color: black;
}

    main > article > ol > li > a {
        font-size: 1em;
        line-height: 1.4em;
        color: black;
    }

main > article > img {
    margin-bottom: 1.4em;
    margin-top: 1.4em;
    width: 100%;
    opacity:.1;
    transition:all .5s ease-in-out;

}
article > img:hover{
    opacity:1;
    box-shadow:  0px 5px 10px 1px rgba(0, 0, 0, .7);
}
video{
    width: 100%;
}
/* ===========================================
    ARTIKELEN
   =========================================== */

.related{
    margin-right: 1.5em;
    border: .1em solid rgba(0,0,0,.2);
    border-radius: .1em;
    padding: 1em;
    order: 1;
    flex:20;
}

.related > h2 {
    display: block;
    padding: .5em 0em .5em 0em;
    
    /*text-align: center;*/
    font-weight: 400;
    font-size: 1.1em;
    color: black;
}
.related h3  {
    font-size: 1em;
}

.related p {
    margin-bottom: 0px;
}

.related p:last-child {
    margin-bottom: 10px;
}

.related a {
    color: #DECDBF;
}
/* ===========================================
    SIDEBAR
   =========================================== */

aside {
    border: .1em solid rgba(0,0,0,.2);
    border-radius: .2em;
    margin-left: 1.5em;
    padding: 1em;
            flex: 20%;
            order: 3;
}

aside > h1 > a {
    font-size: .8em;
    font-weight: 400;
    color: black;
}

aside > h1:nth-of-type(2) {
    margin-top: 1em;
}

aside > section > h1 {
    margin-top: 1em;
    font-size: 1em;
    font-weight: 700;
}

aside > section > p {
    text-align: left;
    font-size: .875em;
    line-height: 1.4em;
}

aside > section > p > time {
    color: rgba(0,0,0,.5);
    font-weight: 600;
    font-size: 0.875em;
    line-height: 1.4em;
}

aside > section > p > span > a {
    color: rgb(0,0,0);
    font-weight: 600;
    font-size: 0.875em;
    font-style: italic;
    line-height: 1.4em;
}

aside > section > p > a {
    font-weight: 600;
    color: #DECDBF;
}


/* ===========================================
    FOOTER
   =========================================== */

body > footer {
    background-color: #A6D5C2;
    text-align: center;
    color: gold;

    padding: .5em;
    width: 100%;

    order: 3;

    font-size: .875em;
}

body > footer > section > a {
    font-style: italic;
    color: white;
}

body > footer > section > a:hover {
    text-decoration: underline;
}

footer > h1 {
    text-align: left;
    color: white;

    font-size: 1.2em;
    font-weight: 600;
}

footer > details > ul {
         column-count: 4;

    text-align: left !important;
    
    font-size: .875em;
    color: white;
}

footer > details > ul > li {
    font-weight: 600;
}

details {
    text-align: left;
}

footer > ul {
    display: flex;
    flex-flow: row wrap;

    padding: 1em;
}

footer > ul > li:first-child {
    
    color: gray;
    text-align: left;

    list-style: none;

    margin-right: 1em;
            flex: 40%;
            order: 1;
}

footer > ul > li:last-child {
    color: gray;
    text-align: left;

    list-style: none;

    margin-left: 1em;
            flex: 40%;
            order: 2;
}

